* {
    margin: 0;
    padding: 0;
    border-radius: 0;
}
body {
    background-color: #0c071a;
}
html,
body {
    font-size: 62.5%;
}
$cubic: cubic-bezier(0.16, 2.23, 0.87, 1.24);
@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        width: 8%;
        height: 7%;
        background: transparent;
        min-width: 120px;
        position: relative;
        cursor: pointer;
        color: white;
        border: 0.2rem solid white;
        transition: .4s $cubic;
        transition-delay: .6s;
        &:hover {
            border: none;
            background: #FF00D6;
            box-shadow: 0px 0px 50px -1px #ec00c6;
            >a{
                color:white;        }
            > .h.up,
            .h.down {
                left: 0%;
                opacity: 1;
            }
            .v.left,
            .v.right {
                top: 0%;
                opacity: 1;
            }
        }
        span {
            position: absolute;
            top: 0%;
            z-index: -1;
            opacity: 0;
            transition: 0.3s $cubic;
            left: 0%;
        }
        .h {
            width: 102%;
            height: 3%;
            background: white;
            top: 0%;
            left: 0%;
        }
        .h.up {
            background: radial-gradient(100% 497025.04% at 100% 0%, #ec00c6 0%, #0c0719 100%);
            left: -100%;
        }
        .h.down {
            top: 100%;
            left: 100%;
            background: radial-gradient(100% 497025.04% at 100% 0%, #0c0719 0%, #ec00c6 100%);
        }
        .v {
            width: 2%;
            height: 100%;
            background: white;
            transition-delay: 0.3s;
        }
        .v.left {
            top: -100%;
            background: radial-gradient(267.09% 98.46% at 50% 1.54%, #ec00c6 0%, #0c0719 100%);
        }
        .v.right {
            left: 100%;
            top: 100%;
            background: radial-gradient(267.09% 98.46% at 50% 1.54%, #0c0719 0%, #ec00c6 100%);
        }

        a {
            pointer-events: none;
            text-decoration: none;
            color: #ec00c6;
            font-family: "Bellota", cursive;
            transition: 1ms $cubic;
            transition-delay:.6s ;
            font-size: 2rem;
            font-weight: 700;
        }
    }
}
